//contains general page layout

*{
  box-sizing: border-box;
}

*{
  margin: 0;
  padding: 0;
  font-family: product;

}

// gradient strip
.titleContainer{
  width: $titleWidth;
  height: 110px;
  animation: title 2s;
  background: linear-gradient(to right,#00C9FF, #B2FEFA);
  border-radius: 3px;

  svg{
    padding: 10px;
  }

  .path {
    fill: transparent; 
    font-size: 5rem;   
    stroke: black; 
    stroke-width: 1.5; 
    stroke-dasharray: 1500;
    stroke-dashoffset: 1750;
    animation: text 10s linear forwards;
  }
}

//nav bar
.nav{
  font-family: product;
  padding: 20px;

  ul{
    display: flex;
    justify-content: flex-end;
  }

  li{
    list-style-type: none;
  }

  a{
    text-decoration: none;
    font-size: 23px;
    color: black;
    margin-right: 40px;

  }
}

// small about me section
.aboutContainer{
  padding: 40px;
  font-size: 23px;
  animation: fadeIn 1.5s linear forwards;

  li{
    list-style-type: none;
    padding: 10px;

    &::before{
      content: '>\00a0';
      color: $primaryColor;
    }

    #sass:hover{ color: #bf4080; }
    #js:hover{ color: #bebb07; }
    #ts:hover{ color: #3a14e4; }
    #php:hover{ color: #8b12d1; }
    #java:hover{ color: #cc0b0b; }
    #gradient{ @include gradTxt(red,orange ) }
    #darkMode{ color: white; background-color: black; padding: 0 5px; }

  }
}

//dividers
#projectsDiv, #contactDiv{
  text-align: center;
  font-size: 21px;
  text-decoration: underline $primaryColor;
}

//projects section
.project{
  display: inline-flex;
  border: 3px solid black;
  border-radius: 2px;
  margin: 50px 20%;
  height: 350px;

  img{
    border-right: 3px solid black;

  }

  .text{
    padding: 20px;

    p{
      font-size: 20px;
      padding: 20px 0;
    }

    .badges{

      p{
        border-radius: 2px;
        padding: 5px 7px;
        margin-right: 10px;
        display: inline-block;
        font-size: 15px;
        color: white;
      }
    }

    .buttons{
      margin-top: 40px;
  
      a{
        border: 2px solid grey;
        border-radius: 4px;
        padding: 10px;
        text-decoration: none;
        background-color: black;
        color: white;
        margin-right: 15px;
        transition: background-color 0.5s;

        &:hover{
          background-color: rgb(56, 56, 56);
        }
      }
    }
  }
}

//contact section
.contact {
  text-align: center;
  margin: 50px;

  a{
  font-size: 25px;
  margin: 0 50px;
  display: inline;
  text-decoration: none;
  color: black;

  }
}

// hover line
.hover-underline-animation {
  display: inline-block;
  position: relative;
}
.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: $primaryColor;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.footer {
  color: black;
  text-align: center;
  padding-bottom: 40px;
  font-family: product;
}