//contains responsive code for large screens, tablets, and phones

//big screen
@media screen 
  and (min-device-width: 1500px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    
    .titleContainer{
      width: 35%;
      animation: title 2s;
    }
    @keyframes title {
      from{width: 0%;}
      to{width: 35%;}
    }
}

//tablet
@media screen 
  and (max-device-width: 1200px)  
  and (-webkit-min-device-pixel-ratio: 1) { 
    
    .titleContainer{
      width: 70%;
      animation: title 2s;
    }
    @keyframes title {
      from{width: 0%;}
      to{width: 70%;}
    }

    .project{

      height: auto;
      margin: 40px 9%;
    
      img{border: none; width: 0;}
      .buttons{margin-bottom: 10px;}
    }
}

//mobile
@media screen 
  and (max-device-width: 500px) 
  and (-webkit-min-device-pixel-ratio: 1) { 

    body{
      background-color: white;
    }

    .nav ul{justify-content: center;}
    .nav a{margin: 0 20px;}

    .titleContainer{
      width: 80%;
      animation: title 2s;
      // height: 80px;

      svg .path{
        font-size: 50px;
        stroke-width: 1.1;
      }
    }
    @keyframes title {
      from{width: 0%;}
      to{width: 80%;}
    }

    .project{height: auto;}
    .project .text .buttons{

      a {
        display: inline-block; 
        margin-top: 10px;
      }
    } 

    .badge-ts{margin-top : 10px;}
}